# Can ignore specific files
.DS_Store
bank_stuff.rb
craigslist/email.txt
craigslist/emailing.rb

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/* 