.explorable_widgets {
  display: block;
  display: block;
  margin: auto;
}

.page-frame {
  padding-top: 5%;
  padding-left: 5%;
}

#covid19-county {
  margin-top: 50px;
  width: 100%;
  height: 850px;
}

#covid19-totals {
  margin-top: 50px;
  width: 120%;
  height: 200px;
}

.back-button {
  padding-top: 3%;
}
.title {
  font-size: 34px;
  font-family: 'Nunito Sans';
}

.description {
  padding-top: 20px;
  width: 100%;
}

a {
  text-decoration: none;
}

html {
  background: #fff;
}

.links line {
  stroke: #999;
  stroke-width: 0.9px;
}

.nodes circle {
  stroke: #aaa;
  stroke-width: 0.5px;
}
